body {
    margin: 0;
    padding: 0;
}

.container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 50px 1fr 1fr 1fr 100px ;
}

header {
    grid-column-start: 1;
    grid-column-end: 5;
    position: fixed;
    background-color: antiquewhite;
    width: 100%;
    text-align: center;
}

nav ul li {
    display: inline-block;
    text-align: center;
    margin:0 20px;
}

ul li a {
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
    color: aqua;
}

aside {
    grid-row-start: 2;
    grid-row-end: 5;
}

main {
    grid-column-start: 2;
    grid-column-end: 5;
    margin-top: 50px;
}

footer {
    grid-column-start: 1;
    grid-column-end: 5;
    margin-top: 10px;
    height: 200px;
    background-color: antiquewhite;
    color: black;
    text-align: center;
    font-size: 10px;
    padding-top: 20px;
}

.aside-container {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    width: 98%;
    margin-top: 60px;
}

.asidediv1 {
    border: 1px solid black;
    width: 100%;
    height: 180x;
    display: flex;
    flex-direction: column;
    justify-content: right;
    list-style-type: none;
}

.asidediv2 {
    width: 100%;
    height: 180px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: right;
    list-style-type: none;
}

.asidediv3 {
    width: 100%;
    height: 180px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: right;
    list-style-type: none;
}

.main-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 100%;
    margin-top: 50px;
    padding-top: 50px;
    vertical-align: top;
}

.main-container article {
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    background-color: bisque;
    margin: 5px;
}

article h4 {
    text-align: center;
    color: green;
}

article img {
    width: 120px;
    height: 120px;
    float: left;
    margin-left: 30px;
    height: 50px;
}

article div {
    float: right;
    margin-right: 30px;
    padding-bottom: 70px;
    text-align: center;
}

article p {
    text-align: center;
    color: blue;

}

article button {
    background-color: aquamarine;
}

p a {
    border: 1px solid black;
    position: fixed;
    bottom: 40px;
    right: 40px;
    width: 30px;
    height: 30px;
    background-color: lightgreen;
}
footer {
    margin-top: 10px;
    height: 330px;
    background-color: antiquewhite;
    color: black;
    text-align: center;
    font-size: 15px;
    padding-top: 20px;}

.footer1 {
    display: inline-block;
    margin: 0 100px;
    list-style: none;
}
.footer1 ul li {
    list-style: none;
    text-align:left;
}
.box1 {
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    padding: 0;
    list-style: none;
    margin-top: 120px;
    text-align: center;
    margin-left: 500px; 
    
}
.box1 ul li a {
    
    font-size: 30px;
    color: aqua;
    text-decoration: none;
}



@media only screen and (max-width:576px) and (min-width:390px) {

    ul li a {
        font-size: 18px;
    }
    nav {
        text-align: center;
        margin: auto;
       
    }
    .aside-container {
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: flex-start;
        width: 170px;
        margin-top: 40px;

    }
    .main-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        margin-top: 30px;
        width: 100%;
    }

    article img {
        width: 120px;
        height: 80px;
        float: left;
    }

    article div {
        float: left;
        width: 100px;
        padding-left: 40px;
        text-align: center;
    }

    footer {
        margin-top: 0;
        font-size: 16px;
    }
}
@media only screen and (max-width:768px)and (min-width:576px) {
    ul li a {
        font-size: 20px;
    }
    nav {
        text-align: center;
        margin: auto;
    }

    .main-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        margin-top: 30px;
    }

    article img {
        width: 140px;
        height: 100px;
        float: left;
        padding-left: 10px;
        
    }

    article div {
        float: right;
        width: 120px;
        padding-right:10px;
        text-align: center;
    }

    footer {
        margin-top: 0;
        font-size: 19px;

    }
}

@media only screen and (max-width:922px) and (min-width:768px) {
   
    ul li a {
        font-size: 22px;
    }
    nav {
        text-align: center;
        margin: auto;
    }

    article img {
        width: 120px;
        height: 120px;
        float: left;
        padding-left: 10px; 
    }

    article div {
        float: right;
        padding-left: 20px;
        text-align: center;
        padding-right: 10px;
    }

    footer {
        margin-top: 0;
        font-size: 21px;
    }
}