body {
    background-color: #6495ED;
   
}
#Myheader {
    align-items: center;

}
#Myh1 {
    background-color: lightblue;
    color:#F08080;
    padding: 40px;
    text-align: center;
    border: 2px solid;
    border-radius: 15px;
    font-size: 40px;
    max-width:none;
    min-height: 70px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top:0px
}
.nav li {
    margin-left : 60px;
    display :inline;
    cursor: pointer;
}
.form { 
    display:flex ;
    align-items: flex-start;
    background-color:lightblue;
    color: #F08080;
    width:340px;
    height:auto;
    margin-left: 500px;
    margin-right: 500px;
    border: 2px solid #F08080;
    border-radius: 5px;
    font-size: 17px;   
}

 

